
<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
</head>
<body>


<div class="container text-center">

  <br><br><br><br>

  <div class="row">

    <div class="col">
<!--      CARD GIRAFFEN -->
      <div class="card" style="width:18rem;">
        <img src="https://naturfotografen-forum.de/data/o/107/535191/image.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a routerLink="giraffe" class="btn btn-primary">Giraffen Quiz</a>
        </div><!--END: CARD BODY-->
      </div> <!--END: CARD-->
    </div><!--END: COL-->

    <div class="col">
      <!--      CARD RHINO-->
      <div class="card" style="width:18rem;">
        <img src="https://th.bing.com/th/id/R.2cffb66e6c6b55daa3a85fd5c2edb237?rik=XtPG%2fYGrnRCHTg&pid=ImgRaw&r=0" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a routerLink="rhino" class="btn btn-primary">Nashorn Quiz</a>
        </div><!--END: CARD BODY-->
      </div> <!-- END: CARD-->
    </div><!-- END: COL-->

    <div class="col">
      <!--      CARD OTTER-->
      <div class="card" style="width:18rem;">
        <img src="https://th.bing.com/th/id/OIP.D47cxjYaZrP34usOwPp60QHaFu?pid=ImgDet&rs=1" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a routerLink="otter" class="btn btn-primary">Otter Quiz</a>
        </div>
      </div>
      <!--      CARD-->
    </div>

    </div>
<!--  ROW-END-->

  <br><br><br><br>

  <div class="row">

    <div class="col">
      <!--      CARD TIGER-->
      <div class="card" style="width:18rem;">
        <img src="https://th.bing.com/th/id/R.cced117aa9f69ebc9dd0a2f53e4c7f8c?rik=yGI6dxmnvgfPNA&riu=http%3a%2f%2fupload.wikimedia.org%2fwikipedia%2fcommons%2f4%2f41%2fSiberischer_tiger_de_edit02.jpg&ehk=GGilom7nKQmCZAUfgeH88I7IRQuLfOj%2fMi2ZH2t6KoI%3d&risl=&pid=ImgRaw&r=0" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a routerLink="tiger" class="btn btn-primary">Tiger Quiz</a>
        </div>
      </div>
      <!--      CARD-->
      </div>

    <div class="col">
      <!--      CARD MOLE-->
      <div class="card" style="width:18rem;">
        <img src="https://th.bing.com/th/id/R.bac8eead8b4ac7aab0d93199f11f2d2c?rik=5xRoAIsW7qoVMA&riu=http%3a%2f%2felelur.com%2fdata_images%2fmammals%2fmole%2fmole-02.jpg&ehk=okrjFhHW9%2fQwo4SkmemxyycuCApFSv7AJ3lA1%2f2GAKQ%3d&risl=&pid=ImgRaw&r=0" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Maulwurf Quiz</a>
        </div>
      </div> <!--END: CARD-->
    </div>

    <div class="col">
      <!--      CARD DONKEY-->
      <div class="card" style="width:18rem;">
        <img src="https://le-cdn.website-editor.net/2c18daa2bfd2429dbc707a173955e461/dms3rep/multi/opt/Esel-e7fb1616-1920w.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Esel Quiz</a>
        </div>
      </div> <!-- END: CARD-->

    </div> <!-- END: COL-->

    </div> <!-- END: ROW 2-->


  <br><br><br><br><br><br><br>


</div> <!-- END: CONTAINER -->


  <router-outlet></router-outlet>
</body>
</html>
