
<div *ngIf="currentQuestionIndex <= giraffen.length">

<br><br><br>
<!--  TABELLEN CONTAINER-->
<div class="table-container">
  <table class="table table-borderless caption-top">
    <caption>Frage {{currentQuestionIndex}}:</caption>
    <thead class="table-question">
    <th colspan="2">
      <p>{{giraffen[currentQuestionIndex -1].question}}</p>
    </th>
    </thead>
    <tbody>
    <tr> <!--ROW 1-->
      <td width="50%"><!--COL 1-->
              <button class="btn" (click)="selectOption(giraffen[currentQuestionIndex - 1].option1)">
                {{giraffen[currentQuestionIndex - 1].option1}}
              </button>
      </td>
      <td width="50%"><!--COL 2-->
        <button class="btn" (click)="selectOption(giraffen[currentQuestionIndex - 1].option2)">
                  {{giraffen[currentQuestionIndex - 1].option2}}
                </button>
      </td>
    </tr><!--END: ROW 1-->

    <tr><!--ROW 2-->
      <td width="50%"><!--COL 3-->
        <button class="btn" (click)="selectOption(giraffen[currentQuestionIndex - 1].option3)">
          {{giraffen[currentQuestionIndex - 1].option3}}
        </button>
      </td>

      <td width="50%"><!--COL 4-->
        <button class="btn" (click)="selectOption(giraffen[currentQuestionIndex - 1].option4)">
          {{giraffen[currentQuestionIndex - 1].option4}}
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div> <!--ENDE: TABELLENCONTAINER-->


<!--  BUTTON: NÄCHSTE FRAGE -->
  <button *ngIf="showNextQuestionButton()" (click)="nextQuestion()">Nächste Frage</button>
</div>



<!--SCHLUSSBEMERKUNG: FUNKTIONIERT NOCH NICHT-->
<div *ngIf="currentQuestionIndex > giraffen.length">
  <h2>Quiz beendet</h2>
  <p>Danke fürs Mitmachen!</p>
</div>

<footer>
  <div class="question">Frage {{currentQuestionIndex}}:</div>
  <div class="animal">Thema: Giraffen</div>
  <div class="back"><a routerLink="">zurück</a></div>
</footer>

