<!--<button class="btn" (click)="buttonClicked(1)" [disabled]="isButtonClicked1 || showResult">Option 1</button>-->
<!--<button class="btn" (click)="buttonClicked(2)" [disabled]="isButtonClicked2 || showResult">Option 2</button>-->
<!--<button class="btn" (click)="buttonClicked(3)" [disabled]="isButtonClicked3 || showResult">Option 3</button>-->
<!--<button class="btn" (click)="buttonClicked(4)" [disabled]="isButtonClicked4 || showResult">Option 4</button>-->

<br><br><br>

<!--  TABELLEN CONTAINER-->
<div class="table-container">
  <table class="table table-borderless caption-top">
    <caption>Frage: {{currentQuestionIndex}} / {{rhinos.length}}</caption>
    <thead class="table-question">
    <th colspan="2">
      <p>{{rhinos[currentQuestionIndex -1].question}}</p>
    </th>
    </thead>
    <tbody>
    <tr> <!--ROW 1-->
      <td width="50%"><!--COL 1-->
        <button class="btn" (click)="buttonClicked(1)" [disabled]="isButtonClicked1 || showResult" [ngClass]="{'button-selected': isButtonClicked1 }">
          {{rhinos[currentQuestionIndex - 1].option1}}
        </button>
      </td>
      <td width="50%"><!--COL 2-->
        <button class="btn" (click)="buttonClicked(2)" [disabled]="isButtonClicked2 || showResult" [ngClass]="{'button-selected': isButtonClicked2}">
          {{rhinos[currentQuestionIndex - 1].option2}}
        </button>
      </td>
    </tr><!--END: ROW 1-->

    <tr><!--ROW 2-->
      <td width="50%"><!--COL 3-->
        <button class="btn" (click)="buttonClicked(3)" [disabled]="isButtonClicked3 || showResult" [ngClass]="{'button-selected': isButtonClicked3}">
          {{rhinos[currentQuestionIndex - 1].option3}}
        </button>
      </td>

      <td width="50%"><!--COL 4-->
        <button class="btn" (click)="buttonClicked(4)" [disabled]="isButtonClicked4 || showResult" [ngClass]="{'button-selected': isButtonClicked4}">
          {{rhinos[currentQuestionIndex - 1].option4}}
        </button>
      </td>
    </tr>

    </tbody>
  </table>
</div> <!--ENDE: TABELLENCONTAINER-->





<div class="result-container" *ngIf="showResult">
  <div>
  <p [ngClass]="{'correct': isCorrect, 'incorrect': !isCorrect}">
    {{ isCorrect ? 'Richtig' : 'Falsch' }}
  </p>
</div>
<div>{{rhinos[currentQuestionIndex - 1].commentary}}
</div>
<div>
</div>
</div>
<!--<button [disabled]="!isButtonClicked" (click)="nextQuestion()">Nächste Frage</button>-->




<footer>
<!--  <div class="animal">Thema: Nashörner</div>-->
  <div class="back"><a routerLink="">zurück zur Übersicht</a></div>
  <button class="next-button" [disabled]="!isButtonClicked" (click)="nextQuestion()">Nächste Frage</button>

</footer>
